{% extends "base.html" %}
{% block content %}

{% if error %}
	<p>error</p>
{% endif %}

<div class="container">

	<div class="form-lead py-4">
		Please review the following items and enter your payment information below.
	</div>

	<table class='table'>

		<tbody>
			<tr>
				<td>Preregistration</td>
				<td></td>
			</tr>

			{% for camper in campers %}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;{{ camper.first_name }} {{ camper.last_name }}</td>
				<td></td>
			</tr>
			{% endfor %}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;Subtotal</td>
				<td align='right'>{{ price }}</td>
			</tr>
			<tr>
				<td>Donation</td>
				<td align='right'>{{ donation }}</td>
			</tr>
			<tr>
				<td><b>Total</b></td>
				<td align='right'><b>{{ total }}</b></td>
			</tr>
		</tbody>
	</table>

	<form action="{% url 'bahtzang:confirm' %}" method="post">
		{% csrf_token %}
		Please enter your payment information below:
		<input type="submit" value="Submit">
	</form>
</div>
{% endblock %}