{% extends "base.html" %}
{% block content %}

{% if error %}
	<p>error</p>
{% endif %}

<div class="container">

	<div class="form-lead py-4">
		Select campers to preregister:
	</div>

	<form action="{% url 'bahtzang:update' %}" method="post">
		{% csrf_token %}
		{% for family in sibling_sets %}
		<h5>
		{% if family.family.secondary_parent_first_name %}
			{{ family.family }} & {{ family.family.secondary_parent_first_name }} {{ family.family.secondary_parent_last_name }} - {{ family.family.city }}, {{ family.family.state }}
		{% else %}
			{{ family.family }} - {{ family.family.city }}, {{ family.family.state }}
		{% endif %}
		</h5>
		<table class='table'>
			<thead>
				<tr>
					<td>Preregister</td>
					<td>First name</td>
					<td>Last name</td>
					<td>Birthday</td>
				</tr>
			</thead>
			<tbody>
				{% for camper in family.siblings %}
				<tr>
					<td><input type="checkbox" name="{{ camper.pk }}"></td>
					<td>{{ camper.first_name }}</td>
					<td>{{ camper.last_name }}</td>
					<td>{{ camper.birthdate }}</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
			<br>
		{% endfor %}

		<hr>

		<input type="submit" value="Submit">
	</form>
</div>

{% endblock %}